body{
 background-color:#BEE3DB;
}
h1{
 color:#826AED;
 font-size: 250%;
 letter-spacing: 5px;
 text-align: center;
 top: 20;
 martin-top: 80px;
  
}
ul{
 list-style-type: none;
 background color: #BEE3DB;
 width: 100%;
 overflow: hidden;
 position: fixed;
 text-align: center;
 left: 0;
 top: 0;
 margin: 10;
}
li{
 float: left;
}
li a{
 display:block;
 color: white;
 text-decoration: none;
 padding: 15px;
 border-style: solid;
 font-family: cursive, "Papyrus";
}
li a:hover {
 background-color: antiquewhite;
 color: black;
